@import url('https://fonts.cdnfonts.com/css/tf2-build');
@import url('https://fonts.cdnfonts.com/css/tf2-secondary');

*{
    margin-top:20px;
    padding:0px;
    box-sizing:border-box;
    font-family:arial;
    border-radius:10px;
    background-color:#34302d;
    }
    a{
    color:#00b7ff
    }
    a:visited{
    color:rgb(183, 0, 255);
    }
    #logo-div{
    width:87%;
    height:auto;
    min-height:50px;
    background-color:#f08149;
    padding-left:2%;
    text-align:center;
    line-height:50px;
    margin-bottom:10px;
    float:right;
    }
    img{
    border-radius:50px;
    }
    #header-div{
    width:87%;
    min-height:100px;
    color:white;
    background-color:#f08149;
    text-align:center;
    line-height:100px;
    margin-bottom:10px;
    float:right;
    font-size:280%;
    text-shadow: -4px 5px 0px rgba(0, 0, 0, 1);
    font-family: 'TF2 Build', sans-serif;
    }
    #nav-div{
    width:87%;
    min-height:30px;
    color:white;
    background-color:#f08149;
    text-align:center;
    line-height:30px;
    font-weight:bold;
    float:right;
    }
    #content-div{
    width:100%;
    margin-bottom:10px;
    margin-top:10px;
    text-align:center;
    }
    #sidebar-div{
    margin-left:-100px;
    padding:1px 16px;
    height:1000px;
    width:200px;
    background-color:#f08149;
    position:fixed;
    height:87%;
    overflow:auto;
    font-weight:bold;
    color:white;
    }
    #main-div{
    width:87%;
    padding-left:25px;
    padding-right:25px;
    min-height:400px;
    color:white;
    background-color:#f08149;
    float:right;
    text-align:center;
    line-height:30px;
    }
    .clearfix::after{
    content:"";
    display:table;
    clear:both;
    }
    #footer-div{
    min-height:50px;
    width:87%;
    color:white;
    background-color:#f08149;
    text-align:center;
    line-height:50px;
    float:right;
    padding-left:25px;
    padding-right:25px;
    font-size:200%;
    }
    #wrapper-div{
    width:80%;
    margin:auto;
    }